
    <!-- Define el script de Handlebars -->
        {{#each elementos}}
            <tr>
                <td>{{name}}</td>
                <td>
                    <div class="circle {{status}}"></div>
                </td>
            </tr>
        {{/each}}


